@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3475ca;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}

.banner .content {
    position: relative;
    max-width: 750px;
    text-align: center;
}

.banner .content h2 {
    color: #fff;
    font-size: 60px;
}

.banner .content p {
    color: #fff;
    font-size: 18px;
}

.banner header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100000;
}

.banner header .logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.banner header .toggle {
    position: relative;
    width: 36px;
    height: 28px;
    background: url('../imgs/toggle.png');
    background-size: cover;
    cursor: pointer;
}

.about {
    position: relative;
    width: 100%;
    display: flex;
}

.about .contentBx {
    background: #162c3b;
    padding: 100px;
    width: 50%;
}

.about .contentBx .heading {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.about .contentBx .text {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.about .imgBx {
    background: url('../imgs/window.jpg');
    width: 50%;
    background-size: cover;
    background-position: center; 
}